@model Project_64130980.Models.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string gtinh = "";
    string quyen = "";
}

<h3 class="text-danger">Bạn có chắc muốn xoá thông tin này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @{if (Model.GioiTinh == true)
                {
                    gtinh = "Nam";
                }
                else
                {
                    gtinh = "Nữ";
                }
            }
            @gtinh
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Quyền sử dụng
        </dt>

        <dd>
            @{if (Model.QuyenSuDung == 0)
                {
                    quyen = "Quản lý";
                }
                else if (Model.QuyenSuDung == 1)
                {
                    quyen = "Nhân viên thường";
                }
                else if (Model.QuyenSuDung == 2)
                {
                    quyen = "Nhân viên giao hàng";
                }
            }
            @quyen
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>